<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/shared-layout/admin-layout.css" asp-append-version="true"/>
    
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    
    <link
        href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet"
    />

    @await RenderSectionAsync("Link", required: false)

    <script type="text/javascript" src="~/js/global.js" defer></script>
    
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

    @await RenderSectionAsync("Script", required: false)
</head>
<body>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<div class="layout-wrapper">
    <div class="layout">
        <main class="inner-layout-wrapper">
            <div class="inner-layout">
                <div class="nav-bar-wrapper">
                    <a href="/" class="nav-bar-header">
                        <div>
                            <h4>FPT Book</h4>
                        </div>
                    </a>
                    <ul class="nav-list-content-wrapper">
                        <li class="nav-list-content">
                            <div class="nav-list-content-title">
                                <span>Account</span>
                            </div>
                            <div class="nav-list">
                                <a href="/">
                                    <span>References</span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-list-content">
                            <div class="nav-list-content-title">
                                <span>Manage</span>
                            </div>
                            <div class="nav-list">
                                <a asp-controller="ManageProducts" asp-action="ManageProducts">
                                    <span>Manage Products</span>
                                </a>
                                <a asp-controller="ManageUsers" asp-action="ManageUsers">
                                    <span>Manage Users</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                @RenderBody()
            </div>
        </main>
    </div>
</div>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>