<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - comic</title>

    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared-layout/shared-layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/layout/main-nav.css" asp-append-version="true" />

    @await RenderSectionAsync("Link", required: false)

    <script type="text/javascript" src="~/js/global.js" defer></script>
    <script type="text/javascript" src="~/js/search.js" defer></script>

    @await RenderSectionAsync("Script", required: false)
</head>
<body>
    <div class="layout">
        <div class="inner-layout">
            <partial name="Components/Layout/_NavBar" />
            <div class="layout-wrapper">
                @RenderBody()
            </div>
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
