@using comic.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Login";

    Layout = "_AuthenticateLayout";
}


@section Link {
    <link rel="stylesheet" href="~/css/authenticate/login.css" asp-append-version="true"/>
}

@section Script {
    <script type="text/javascript" src="~/js/login/password-input.js" defer></script>
}

<div class="header-wrapper">
    @if (TempData["Error"] != null)
    {
        
    }
    <div class="header">
        <a href="/" class="header-link">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <rect width="18" height="18" x="3" y="3" rx="2"/>
                <path d="M7 7v10"/>
                <path d="M11 7v10"/>
                <path d="m15 7 2 10"/>
            </svg>
            <span>FPT Book</span>
        </a>
    </div>
</div>
<div class="form-wrapper">
    <div class="form-header">
        <h1>Sign in to your account</h1>
    </div>
    <div class="form-content">
        <form asp-action="login" class="form-body">
            <div class="group-input">
                <label asp-for="Email">Email</label>
                <input
                    asp-for="Email"
                    id="email"
                    name="email"
                    type="email"
                    autofocus=true
                    autocomplete="off"
                    placeholder="abc@fpt.edu.vn"
                    required="required"/>
            </div>
            <div class="group-input">
                <label asp-for="Password">Password</label>
                <input
                    asp-for="Password"
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="off"
                    placeholder="••••••••"
                    required="required" style="padding-right: 2.5rem"/>
                <button type="button" class="password-icon">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        className="lucide lucide-eye">
                        <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/>
                        <circle cx="12" cy="12" r="3"/>
                    </svg>
                    <span>Show password</span>
                </button>
            </div>
            <div class="forget-password">
                <a href="/">Forgot Password?</a>
            </div>
            <button type="submit" class="submit-button">
                <span>Sign In</span>
            </button>
        </form>
    </div>
    <div class="register-wrapper">
        <div class="register">
            <span>New here?</span>
            <a asp-controller="account" asp-action="register">Register</a>
        </div>
    </div>
</div>