@{
    ViewData["Title"] = "Login";

    Layout = "_AuthenticateLayout";
}


@section Link {
    <link rel="stylesheet" href="~/css/authenticate/login.css" asp-append-version="true"/>
}

@section Script {
    
}

<div class="header-wrapper">
    <div class="header">
        <a href="/" class="header-link">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <rect width="18" height="18" x="3" y="3" rx="2"/>
                <path d="M7 7v10"/>
                <path d="M11 7v10"/>
                <path d="m15 7 2 10"/>
            </svg>
            <span>Comic</span>
        </a>
    </div>
</div>
<div class="form-wrapper">
    <div class="form-header">
        <h1>Sign in to your account</h1>
    </div>
    <div class="form-content">
        <form method="POST" class="form-body">
            <div class="group-input">
                <label for="email">Email</label>
                <input
                    id="email"
                    name="email"
                    type="text"
                    autofocus=true
                    autocomplete="off"/>
            </div>
            <div class="group-input">
                <label htmlFor="password">Password</label>
                <input
                    id="password"
                    name="username"
                    type="text"
                    autocomplete="off"/>
            </div>
            <div class="forget-password">
                <a href="/">Forgot Password?</a>
            </div>
            <button type="submit" class="submit-button">
                <span>Sign In</span>
            </button>
        </form>
    </div>
    <div class="register-wrapper">
        <div class="register">
            <span>New here?</span>
            <a href="/">Register</a>
        </div>
    </div>
</div>