@{
    var products = ViewData["CarouselTwo"] as List<Product>;
}

<div class="product-section">
    <div class="product-header">
        <a href="/" class="product-header-text">
            <h2>Seasonal</h2>
        </a>
        <div class="product-navigate-group">
            <button class="product-navigate carousel-previous-2">
                <span>
                    <svg
                        data-v-4c681a64=""
                        data-v-a31e942f=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        view-box="0 0 24 24">
                        <path d="m15 18-6-6 6-6"></path>
                    </svg>
                </span>
            </button>
            <button class="product-navigate carousel-next-2">
                <span>
                    <svg
                        data-v-4c681a64=""
                        data-v-a31e942f=""
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        view-box="0 0 24 24">
                        <path d="m9 18 6-6-6-6"></path>
                    </svg>
                </span>
            </button>
        </div>
    </div>
    <div class="product-slider-wrapper">
        <div class="product-slider-2">
            @for (var i = 0; i < products.Count(); i++)
            {
                <div class="product-2" data-product-slide-index=@i>
                    <a href="/">
                        <div class="product-image">
                            <img src=@Url.Content("/images/" + products[i].Images.First().ImageName) />
                        </div>
                        <div class="product-details">
                            <div class="product-title">@products[i].Name</div>
                            <div class="product-price">$@products[i].Price</div>
                        </div>
                    </a>
                    <div class="add-to-cart">
                        <button>Add to cart</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>