<div class="navbar-wrap">
    <div class="nav-bar">
        <div class="home">
            <a href="/" class="home-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect width="8" height="18" x="3" y="3" rx="1"/><path d="M7 3v18"/>
                    <path d="M20.4 18.9c.2.5-.1 1.1-.6 1.3l-1.9.7c-.5.2-1.1-.1-1.3-.6L11.1 5.1c-.2-.5.1-1.1.6-1.3l1.9-.7c.5-.2 1.1.1 1.3.6Z"/>
                </svg>
                <div class="page-name">Comic</div>
            </a>
        </div>
        <div class="side-navbar">
            <div class="search">
                <div class="search-input-wrap">
                    <input class="search-input" placeholder="Search" autoComplete="off"/>
                    <div class="search-border"></div>
                    <div class="search-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/>
                        </svg>
                    </div>
                    <div class="search-shortcut">
                        <span>Ctrl</span>
                        <span>K</span>
                    </div>
                    <div class="search-result-wrap">
                        <div class="search-result">
                            Enter a search query...
                        </div>
                    </div>
                </div>
                <div class="search-backdrop"></div>
            </div>
            <button class="cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/>
                </svg>
            </button>
            <a href="/" class="sign-in">
                <svg
                    data-v-4c681a64=""
                    data-v-97f04154=""
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                    id="avatar">
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2m8-10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z">
                    </path>
                </svg>
            </a>
        </div>
    </div>
    <div class="navbar-background"></div>
</div>