@model IEnumerable<Product>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";

    var products = Model as List<Product>;
}

@section Link {
    <link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/css/components/hero.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/css/components/carousel/carousel-one.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/css/components/carousel/carousel-two.css" asp-append-version="true"/>
}

@section Script {
    <script type="text/javascript" src="~/js/hero.js" defer></script>

    <script type="text/javascript" src="~/js/carousel/carousel-one.js" defer></script>

    <script type="text/javascript" src="~/js/carousel/carousel-two.js" defer></script>
}

<partial name="Components/_Hero"/>

<div class="product-wrapper">
    <partial name="Components/Carousel/_Carousel-One"/>

    <partial name="Components/Carousel/_Carousel-Two"/>
</div>