@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";

    var products = Model as List<Product>;
}

@section Link {
    <link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/css/components/hero.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/css/components/carousel/carousel-one.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/css/components/carousel/carousel-two.css" asp-append-version="true"/>
}

@section Script {
    <script type="text/javascript" src="~/js/home.js" defer></script>

    <script type="text/javascript" src="~/js/hero.js" defer></script>

    <script type="text/javascript" src="~/js/carousel/carousel-one.js" defer></script>

    <script type="text/javascript" src="~/js/carousel/carousel-two.js" defer></script>
    
    @if (User.Identity!.IsAuthenticated)
    {
        <script type="text/javascript" src="~/js/auth/user-panel.js" defer></script>
    }
}

<partial name="Components/_Hero"/>

<div class="product-wrapper">
    <partial name="Components/Carousel/_Carousel-One"/>

    <partial name="Components/Carousel/_Carousel-Two"/>

    <div class="product-category-wrapper">
        <div class="product-category">
            <div class="product-category-header">
                <div class="best-seller-category header-active">
                    Best Seller
                </div>
                <div class="most-view-product-category">
                    Most View Products
                </div>
            </div>
            <div class="product-category-content">
                @foreach (var product in products)
                {
                    <div class="category-product" style="height: fit-content">
                        <a asp-controller="products" asp-route-id="@product.ProductId">
                            <div class="category-product-image">
                                <img src=@Url.Content("/images/" + product.Images.First().ImageName) alt="image" loading="lazy" decoding="async"/>
                            </div>
                            <div class="category-product-details">
                                <div class="category-product-title">@product.Name</div>
                                <div class="category-product-price">$@product.Price</div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="load-more">
                <a href="/">Load more</a>
            </div>
        </div>
    </div>
</div>